/sipXcallLib/Debug
/sipXcallLib/bin
/sipXtackLib/Debug
/sipXcallLib/examples/sipXezPhone/Debug
/sipXcallLib/examples/CheckVMail/Debug
/sipXcallLib/examples/PlaceCall/Debug
/sipXcallLib/examples/ReceiveCall/Debug
/sipXcallLib/examples/SimpleSipxTerm/Debug
/sipXcallLib/examples/bin
/sipXcallLib/examples/lib
/sipXmediaAdapterLib/Debug
/sipXmediaLib/Debug
/sipXportLib/Debug
/sipXsdpLib/Debug
/sipXportLib/testDebug
/sipXportLib/contrib/pcre/Debug
/sipXmediaLib/contrib/speex-1.2rc1/win32/VS2008/libspeex/Debug
/sipXmediaLib/contrib/libiLBC/Debug
/sipXmediaLib/contrib/libgsm/Debug
/sipXmediaLib/contrib/portaudio_v19/build/msvc/Win32/Debug
/sipXmediaLib/contrib/spandsp-0.0.6/Debug
/sipXmediaLib/contrib/speex-1.2rc1/win32/VS2008/libspeexdsp/Debug
/sipXmediaLib/contrib/portmixer/winproj/Debug
*.user
/sipXmediaLib/testDebug
/sipXmediaLib/contrib/speex-1.2rc1/lib
/sipXmediaLib/contrib/spandsp-0.0.6/lib
/sipXportLib/contrib/pcre/lib
/sipXcallLib/lib
/sipXmediaLib/contrib/libgsm/lib
